/*Made by Alexandros Drakoulis*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: VT323;
    text-decoration: none;
    
    
}

body{
background-color: black;
}

.backround{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover; /* This property ensures the background image covers the whole element */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-image: url(/images/rocket.png); 
    z-index: -2;
    background-position: center center; /* Centers the background image horizontally and vertically */
    filter: blur(111px);
    filter: brightness(70%);
}

.content{
    color: aliceblue;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 27px;
    top:30rem  ;
    position: absolute;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
}

h2{
    margin-top: 1rem;
    margin-left: 1rem;
    color: rgb(122, 184, 255);
}

.header{
    
    font-size: 29px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 19px 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);

}



.navbar a{
    color: aliceblue;

margin-right:100px;
}


a:hover{
    color: #468499;
    transition: 0.28s ease-in-out;
}

.title{
    
    color: white;
    font-size: 30px;
    left: 58%;
    margin-left: -30rem;
    top: 13% ;
    width: fit-content;
    position: absolute;
    text-align: center;

}


iframe{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    
}

.box{
    color: aliceblue;
    text-align: center;
    transform: translate(-50%,0);
    font-size: 37px;
    left: 50%;
    top: 30% ;
    position: absolute;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
    padding: 1em;
    transform: border ease 0.5s;
}

.box:hover{
    border:2px solid rgb(255, 255, 255);
}

h2{
    color: aquamarine;
}

.imgc{
    margin-top: 3rem;
    left: 22%;
    align-items: center;

}

.imgcle{
    position: fixed;
    margin-top: 3rem;
    right: 0rem;
    align-items: center;


}

.imgc img{
    width: 16rem;
    height: auto;
}


.logo
{
    font-size: 45px;
    left: 5rem;
    color: white;
    position: absolute;
}
