/*Made by Alexandros Drakoulis*/
*{
    color: aliceblue;
    font-family: VT323;
    text-decoration: none;
    
    
}

body{
background-color: black;
}

.backround{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover; /* This property ensures the background image covers the whole element */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-color: #141414;
    z-index: -2;
    background-position: center center; /* Centers the background image horizontally and vertically */
    filter: blur(3px);
}

.content{
    
    font-size: 27px;
    left: 12%;
    top: 30% ;
    position: fixed;/* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
    padding: 1em;
    
}

.header{
    box-sizing: border-box;
    font-size: 29px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 19px 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);

}



.navbar a{
margin-right:100px;
}


a:hover{
    color: #468499;
    transition: 0.28s ease-in-out;
}

iframe{
    animation: 2.2s ease-out 0s 1 slideInFromLeft;
    float: right;
    width: 600px;
    position: fixed;
    right: 3%;
    top: 28%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(255, 255, 255, 0.37);
}

.image{
    position: absolute;
    top: 30%;
    left: 0%;
}

.title{
    font-size: 70px;
    position: absolute;
    top: 8%;
    left: 16%;
}




@keyframes slideInFromLeft {
    0% {
    filter: brightness(0);
    }
    100% {
    filter: brightness(1);
    }
    }


    .logo
    {
        font-size: 45px;
        left: 5rem;
        color: white;
        position: absolute;
    }